# Fichiers spécifiques à macOS
.DS_Store

# Fichiers temporaires d’éditeur
*.swp       
*.swo
*~           
*.tmp        

# VS Code
.vscode/

# binaires ou fichiers compilés
a.out
*.o
*.out
*.exe

# Archives et sauvegardes
*.tar
*.gz
*.zip
*.rar

# Makefile outputs
*.dSYM/
*.obj

# Test gitignore
fichier_test1
fichier_test2
